.container {
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 100%;
  font-weight: bold;
  margin: 5px 0;
}

.glyphicon {
  vertical-align: text-top;
}

.btn.btn-link {
  padding: 0;
}

.btn.pager-next {
  margin-left: 5px;
}

.table:last-child, .table-responsive:last-child {
  margin-bottom: 0;
}

td > p {
  margin: 0;
  padding-left: 5px;
}

.highlight.color1 {
  background-color: #FFFF99
}
.highlight.color2 {
  background-color: #FFDFFF;
}
.highlight.color3 {
  background-color: #CCFF99;
}
.highlight.color4 {
  background-color: #FFCC99;
}

/* Help dialog */
.modal-body h5 {
  font-size: 16px;
}

th.key {
  width: 30%;
  white-space: nowrap;
}